<%- include('template/cabecera'); %>

<head>
    <title>My first three.js app</title>
    <style>
        body { margin: 0; }
    </style>
    <style>
        .player-label {
          color: black;
          font-size: 20px;
          font-family: Arial;
          background: white;
          padding: 2px;
          border-radius: 3px;
          pointer-events: none;
        }
      </style>
</head>
<body>
    <script type="module" src="/js/juegitos.js"></script>  
</body>


<%- include('template/footer'); %>