<%- include('template/cabecera'); %>

<head>
    <title>My first three.js app</title>
    <style>
      body, html {
          margin: auto;
          padding: 0;
          overflow: hidden;
          font-family: Arial, sans-serif;
      }

      #nameFormContainer {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
      }

      #nameForm {
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          text-align: center;
      }

      #nameInput {
          padding: 10px;
          font-size: 16px;
          width: 200px;
          margin-bottom: 10px;
      }

      #startGameButton {
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
      }
      #playerNameLabel {
        position: absolute;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
        transform: translate(-50%, -50%); /* Para centrar el texto en su posición */
    }
    #controles{
        position: absolute;
            top: 60px;
            left: 70px;
            background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
            color: white;
            padding: 10px;
            border-radius: 5px;
            font-size: 13px;
            z-index: 100;
    }
    #temporizador{
        color: red;
    }
  </style>
</head>
<body>
  <div id="nameFormContainer">
    <div id="nameForm">
        <h2>Enter Your Name</h2>
        <input type="text" id="nameInput" placeholder="Your Name">
        <br>
        <button id="startGameButton">Start Game</button>
    </div>
</div>
<div id="playerNameLabel"></div>
<div id="controles">
 <p id="temporizador">TIEMPO: </p>
 <p>controles</p>
 <p>W: adelante</p>
 <p>A: izquierda</p>
 <p>S: Atras</p>
 <p>D: derecha</p>
 <p>Espacio: saltar</p>
 <p>R: detener giro del cubo</p> 
</div>
    <script type="module" src="/js/juegitos.js"></script>
    <script src="/socket.io/socket.io.js"></script>  
</body>


<%- include('template/footer'); %>