<%- include('template/cabecera', {tituloweb: 'Inicio EJS'}); %>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/salitas.js" defer></script>
    <h1>Chat en Salas</h1>
    <input type="text" placeholder="nombre de usuario" id="nombre" required>
    <input id="roomName" placeholder="Nombre de la Sala">
    <button id="createRoom">Crear Sala</button>
    <br><br>
    <input id="roomId" placeholder="ID de la Sala">
    <button id="joinRoom">Unirse a Sala</button>
    <br><br>
    <input id="message" placeholder="Mensaje">
    <button id="sendMessage">Enviar Mensaje</button>
    <h2>Lista de Salas</h2>
    <ul id="roomList"></ul>
    <h2>Mensajes</h2>
    <div id="currentRoom"></div>
    <div id="messages"></div>
</body>

<%- include('template/footer'); %>